<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of incomeExpenses | orderInExps">
              <td>{{ item.description | titlecase }}</td>
              <td>{{ item.amount | currency }}</td>
              <td
                [ngClass]="
                  item.type === 'income' ? 'text-success' : 'text-warning'
                "
              >
                {{ item.type | titlecase }}
              </td>
              <td>
                <button
                  (click)="removeItem(item.docId)"
                  type="button"
                  class="btn btn-danger"
                >
                  <i class="fa fa-trash"></i> <span>borrar</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
